<form class="text-center border border-light p-5" action="#!">
  <p class="h4 mb-4">Registrar empresa</p>
  <!-- Nombre -->
  <input type="text" id="name" class="form-control mb-4" placeholder="Nombre del negocio">
  <!-- Direccion -->
  <input type="direccion" id="direccion" class="form-control mb-4" placeholder="Direccion">
  <div class="form-row">
    <div class="form-group col-md-6">
      <!-- Colonia -->
      <label>Colonia</label>
      <select class="browser-default custom-select mb-4">
        <option value="" disabled>Elige una opcion</option>
        <option *ngFor="let item of Colonias" value="{{item.id}}">{{item.nombre}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <!-- Categoria -->
      <label>Categoría</label>
      <select class="browser-default custom-select mb-4">
        <option value="" disabled>Elige una opcion</option>
        <option *ngFor="let item of Categorias" value="{{item.id}}">{{item.nombre}}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-info btn-block" type="submit">Send</button>
</form>