<div class="bg-faded mb-3">
    <h5 class="card-header">Lista de Productos</h5>
    <div class="card-body">
        <form class="text-center border border-light" (ngSubmit)="addProducto(Producto)" #Producto="ngForm">
            <!-- Categoria -->
            <select class="browser-default custom-select mb-4" [(ngModel)]="producto" name="producto">
                <option value="" disabled>Elige un producto</option>
                <option *ngFor="let item of Productos" value="{{item.id}}">{{item.nombre}}</option>
            </select>
            <!-- Cantidad -->
            <div class="form-inline">
                <input type="text" [(ngModel)]="cantidad" name="cantidad"
                    class="form-control mr-3 col-sm-5" placeholder="Cantidad">
                <button class="btn btn-info btn-block col-sm-2 mr-2" type="submit"><i class="fas fa-plus"></i></button>
                <button class="btn btn-info btn-block col-sm-2 mt-0" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <ul class="list-group" *ngFor="let item of ListaProducto">
        <li
            class="list-group-item d-flex justify-content-between align-items-center list-group-item list-group-item-action list-group-item-light">
            <span class="badge badge-primary badge-pill">{{item.cantidad}}</span>
            <span>{{item.producto}}</span>
            <i class="fas fa-trash-alt" (click)="delProducto(item.id)"></i>
        </li>
    </ul>
</div>